<!-- footer.component.html -->
<footer class="bg-dark text-white py-4 mt-5">
  <div class="container text-center">
    <p class="mb-0">© 2025 Code Nomade. Todos los derechos reservados.</p>
    <p>
      <a href="https://www.linkedin.com/in/sebastian-feliu/" class="text-white" target="_blank">Visita nuestro sitio web</a>
    </p>
    <div class="social-links">
      <a href="https://www.instagram.com/code.nomade" class="text-white me-3"><i class="bi bi-instagram"></i> Instagram</a>
      <a href="https://www.linkedin.com/in/sebastian-feliu/" class="text-white"><i class="bi bi-linkedin"></i> LinkedIn</a>
    </div>
  </div>
</footer>
