<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Instagram Followers Analyzer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
      </ul>
      <form class="d-flex">
        <button
          (click)="showVersion()"
          class="btn btn-info align-items-right"
          [attr.title]="'Versión: ' + appVersion"
          data-bs-toggle="tooltip"
        >
          Version
        </button>
      </form>
    </div>
  </div>
</nav>
